.title {
	font-weight: 600;
}

.form__group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	select {
		padding: 10px;
	}
}

.product__price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}