.billing__form {
	.form__group {
		input {
			border: 1px solid var(--primary-color);
		}
	}
}

.checkout__cart {
	padding: 20px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	.auth__btn {
		background: #fff;
		color: #000;
		width: 100%;
	}
	h6,
	h4 {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	h4 {
		border-top: 1px solid rgb(62, 62, 62);
		padding-top: 20px;
	}
}